/* @font-face {
  font-family: 'GalanoGrotesqueBlack';
  src: local('GalanoGrotesqueBlack'),
    url('./assets/fonts/GalanoGrotesqueBlack.otf') format('opentype');

  font-family: 'GalanoGrotesqueBlackItalic';
  src: local('GalanoGrotesqueBlackItalic'),
    url('./assets/fonts/GalanoGrotesqueBlackItalic.otf') format('opentype');

  font-family: 'GalanoGrotesqueBold';
  src: local('GalanoGrotesqueBold'),
    url('./assets/fonts/GalanoGrotesqueBold.otf') format('opentype');

  font-family: 'GalanoGrotesqueBoldItalic';
  src: local('GalanoGrotesqueBoldItalic'),
    url('./assets/fonts/GalanoGrotesqueBoldItalic.otf') format('opentype');

  font-family: 'GalanoGrotesqueExtraBoldItalic';
  src: local('GalanoGrotesqueExtraBoldItalic'),
    url('./assets/fonts/GalanoGrotesqueExtraBoldItalic.otf') format('opentype');

  font-family: 'GalanoGrotesqueExtraLight';
  src: local('GalanoGrotesqueExtraLight'),
    url('./assets/fonts/GalanoGrotesqueExtraLight.otf') format('opentype');

  font-family: 'GalanoGrotesqueExtraLightItalic';
  src: local('GalanoGrotesqueExtraLightItalic'),
    url('./assets/fonts/GalanoGrotesqueExtraLightItalic.otf') format('opentype');

  font-family: 'GalanoGrotesqueHeavy';
  src: local('GalanoGrotesqueHeavy'),
    url('./assets/fonts/GalanoGrotesqueHeavy.otf') format('opentype');

  font-family: 'GalanoGrotesqueHeavyItalic';
  src: local('GalanoGrotesqueHeavyItalic'),
    url('./assets/fonts/GalanoGrotesqueHeavyItalic.otf') format('opentype');

  font-family: 'GalanoGrotesqueItalic';
  src: local('GalanoGrotesqueItalic'),
    url('./assets/fonts/GalanoGrotesqueItalic.otf') format('opentype');

  font-family: 'GalanoGrotesqueLight';
  src: local('GalanoGrotesqueLight'),
    url('./assets/fonts/GalanoGrotesqueLight.otf') format('opentype');

  font-family: 'GalanoGrotesqueLightItalic';
  src: local('GalanoGrotesqueLightItalic'),
    url('./assets/fonts/GalanoGrotesqueLightItalic.otf') format('opentype');

  font-family: 'GalanoGrotesqueMedium';
  src: local('GalanoGrotesqueMedium'),
    url('./assets/fonts/GalanoGrotesqueMedium.otf') format('opentype');

  font-family: 'GalanoGrotesqueMediumItalic';
  src: local('GalanoGrotesqueMediumItalic'),
    url('./assets/fonts/GalanoGrotesqueMediumItalic.otf') format('opentype');

  font-family: 'GalanoGrotesqueSemiBold';
  src: local('GalanoGrotesqueSemiBold'),
    url('./assets/fonts/GalanoGrotesqueSemiBold.otf') format('opentype');

  font-family: 'GalanoGrotesqueSemiboldItalic';
  src: local('GalanoGrotesqueSemiboldItalic'),
    url('./assets/fonts/GalanoGrotesqueSemiboldItalic.otf') format('opentype');

  font-family: 'GalanoGrotesqueThin';
  src: local('GalanoGrotesqueThin'),
    url('./assets/fonts/GalanoGrotesqueThin.otf') format('opentype');

  font-family: 'GalanoGrotesqueThinItalic';
  src: local('GalanoGrotesqueThinItalic'),
    url('./assets/fonts/GalanoGrotesqueThinItalic.otf') format('opentype');
  font-family: 'GalanoGrotesqueRegular';
  src: local('GalanoGrotesqueRegular'),
    url('./assets/fonts/GalanoGrotesqueRegular.otf') format('opentype');
  font-family: 'GalanoGrotesqueExtraBold';
  src: local('GalanoGrotesqueExtraBold'),
    url('./assets/fonts/GalanoGrotesqueExtraBold.otf') format('opentype');
} */
